---
import { Future } from "../components/textline.tsx";
import { Azlan } from "../components/button.tsx";
---

<!-- tailwind -->
<link rel="stylesheet" href="/style.css" />

<title>Power Of One</title>


<body class="bg-gray-900 text-white">
    <div class="container mx-auto flex flex-col justify-center h-screen">
        <div class="showcase text-center">
            <h1 class="text-5xl"><Future /><span class="text-yellow-500 font-bold">One</span></h1>
            <div class="rounded-md bg-yellow-500 px-5 py-3 mt-8 text-l font-bold text-black shadow-sm hover:bg-yellow-300 inline-block "><Azlan /></div>
        </div>
    </div>


    <!-- VIDEO -->
    <div class="banner ">
      <video autoplay loop muted playsinline class="w-full h-full object-cover">
          <source src="src/video/mm.mp4" type="video/mp4">
      </video>

      <div class="overlay"></div>
  </div>
  
</body>
</html>


